
body {
	font-family: Arial, serif;
    font-size: 16px;
    line-height: 24px;
	color: #404040;
	margin: 0;
	padding: 0;
}

*{ 
	margin: 0;
	padding: 0;
}

.wrapper {
	overflow: hidden;
}

.header {
	background: url("img/OxZ18cIKnZI.png") no-repeat center;
	background-size: cover;
	height: 525px;
	box-sizing: border-box;
	padding: 34px 0 0 0;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 20px
}

.header__top {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;	
	padding: 0 0 120px 0px;
	width: 100%;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-self: center;
}

.menu__list {
	display: flex;
}

.menu-list__item:last-child {
	padding-right: 0;
}

.menu-list__item {
	padding-right: 50px;
}

.list-item {
	list-style: none;
}

.link-menu {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
} 

.list-item__link {
	display: flex;
	align-items: center;
	height: 35px;
}

.list-item__link:hover {
	border-bottom: 1px solid #fff;
}

.list-item__link:active {
	color: rgb(231, 231, 231);
	border-bottom: 1px solid rgb(231, 231, 231);
}

.btn {
	display: flex;
	width: 170px;
	height: 50px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
}

.btn_white {
	color: #fff;
	border: 2px solid #fff;
}

.btn_white:hover {
	background-color: #fff;
    color: black;
}

.btn_white:active {
	background-color: rgb(231, 231, 231);
    color: black;
}


.header__bottom {
	display: flex;
	justify-content: center;
}

.header__text-bottom {
	width: 560px;
	text-align: center;
}

.text-bottom {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-size: 45px; */
    font-size: calc(19px + 26 * (100vw / 1280));
    line-height: 55px;
    font-weight: bold;
    color: #fff;
}


@media (max-width: 830px) {
	.header__menu {
		justify-self: flex-end;
		padding-right: 35px;
	}

	.menu__list {
		display: none;
	}

	.menu__buttom-menu {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	
	.buttom-menu__line {
		height: 3px;
		width: 35px;
		background-color: rgb(255, 255, 255);
	}
}

@media screen and (max-width: 600px) {
	.header {
		height: 430px;
	}
	
}


@media (max-width: 535px) {
	.btn {
		width: 170px;
		height: 50px;
	}

	.logo-link {
		display: block;
		position: relative;
		overflow: hidden;
		width: 70px;
		height: 55px;
	
	}
}


@media (max-width: 425px) {
	.header__menu {
		justify-self: flex-end;
		padding-right: 20px;
	}

	.btn {
		width: 140px;
		height: 45px;
	}
}


/*--------------------------benefist---------------*/
.main__benefits {
	padding: 50px 0 50px 0;
}

.benefist__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}

.benefist__item {
	border-right: 1px solid #f2f2f2;
}

.benefist__item:last-child {
	border-right: none;
}

.benefist__img {
	padding-bottom: 26px;
}

.benefist__img_1 {
	padding-bottom: 22px;
}

.title {
	font-family: Georgia, serif;
	font-weight:  bold;
	color: #a38b70;
}

.bevefist__title {
	/* font-size: 30px; */
	font-size: calc(27px + 3 * (100vw/1280));
	line-height: 30px;
	padding-bottom: 20px;
}

.benefist__text {
	font-size: calc(13px + 3 * (100vw / 1280));
	margin: 0 auto;
}

.benefist__text_1 {
	width: 280px;
}

.benefist__text_2 {
	width: 236px;
}

.benefist__text_3 {
	width: 272px;
}

@media (max-width: 940px) {
	.benefist__container {
		display: grid;
		grid-template-rows: repeat(3,auto);
		grid-auto-flow: column;
		row-gap: 40px;
	}

	.benefist__item {
		border-right: 1px solid #f2f2f2;
		border-left: 1px solid #f2f2f2;
		grid-column: 2/3;
		padding: 0 20px;
		width: 300px;
	}

	.benefist__item:last-child {
		border-right: 1px solid #f2f2f2;
	}
}

@media (max-width: 385px) {
	.benefist__item {
		padding: 0 0px;
		width: 280px;
	}
}


/* ----------------Theoly----------------------- */
.main__theory {
	background-color: #f2f2f2;
	padding: 76px 0 90px 0; 
}

.block-position__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.font-size__title {
	/* font-size: 45px; */
	font-size: calc(26px + 19 * (100vw / 1280));
	line-height: 55px;
}

.block-position_theory {
	margin-bottom: 57px;
}

.btn_gold {
	color: #a38b70;
	border: 2px solid #a38b70;
}

.btn_gold:hover {
	color: #ffffff;
	background-color: #a38b70;
}

.btn_gold:active {
	color: #ffffff;
	background-color: #a19587;
}

.theoory__footer-theory {
	display: grid;
	row-gap: 68px;
}

.footer-theory__text-block {
	display: grid;
	row-gap: 12px;
}

.text-block__title-cite {
	display: flex;
	align-items: center;
	gap: 10px;
}

.title-cite__title {
	font-size: 24px;
	line-height: 27px;
	font-weight: bold;
	color: #595959;
}

.title-cite__cite {
	color: #aaaaaa;
	align-self: flex-end;
}

.cite-link {
	position: relative;
	color: #b1916e;
}

.cite-link::after {
    content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background: url("/img/link.png") no-repeat center;
	right: -15px;
	top: -1px
}

.cite-link:hover {
	position: relative;
	color: #dabb99;
}

.cite-link:active {
	position: relative;
	color: #f5d0a9;
}

.text-block__img-text {
	display: flex;
	gap: 32px;
}

.footer-theory__text {
	max-width: 675px;
}

@media (max-width: 660px) {
	.text-block__img-text {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	.footer-theory__text-block {
		display: grid;
		row-gap: 22px;
	}

	.theoory__footer-theory {
		display: grid;
		row-gap: 48px;
	}
}


/*-------------------Reviews---------------*/
.main__review {
	padding: 68px 0 91px 0;
}

.block-position_review {
	margin-bottom: 62px;
}

.review__block-cite {
	display: flex;
	align-items: center;
    gap: 92px;
}

.block-cite__comment {
    display: flex;
    flex-direction: column;
    flex: 0 1 365px;
    gap: 15px;
    padding-left: 50px;
}

.comment { 
   border-left: 3px solid #b1916e;
}

.comment__cite {
	font-weight: bold;
}

@media (max-width: 830px) {
	.review__block-cite {
		gap: 52px;
	}
}

@media (max-width: 780px) {
	.review__block-cite {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}
	
	.block-cite__comment {
		flex: 1 1 auto;
		max-width: 450px;
		gap: 10px;
	}
}

@media (max-width: 425px) {
	.block-cite__comment {
		padding-left: 35px;
	}
	.font-size__title {
		/* font-size: 45px; */
		font-size: calc(26px + 19 * (100vw / 1280));
		line-height: 45px;
	}
}

/*--------------------------Goods----------------*/
.main__goods {
	padding: 70px 0 92px 0;
	background-color: #f2f2f2;
}

.block-position_goods {
	margin-bottom: 60px;
}

.goods__row-popular-gds {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 49px;
}

.row-popular-gds__goods-item {
	flex: 0 0 307px;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
}

.goods-item___content {
    padding: 8px 22px 10px;
    height: 97px;
}

.goods-item__text-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 19px;
}

.text-price__text {
	color: #000;
	font-weight: bold;
}

.text-price__price {
	display: inline-block;
}

.goods-item__btn-block { 
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-goods {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #a38b70;
}

.btn-goods:hover {
	background-color: #b69f85;
}

.btn-goods:active {
	background-color: #ddc4a7;
}

.btn-block__btn-goods {
    width: 126px;
    height: 49px;
	border-radius: 3px;
}

.goods__title-2 {
	margin-bottom: 68px;
}

.table-services__table {
	border-collapse: collapse;
	width: 100%;
	overflow-x: auto;
}

.table__th {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
	padding-bottom: 14px;
}

.table__th_center {
	text-align: center;
	width: 50px;
}

.table__tr {
	border: 1px solid #e9e9e9;
	height: 50px;
}

.table__th_service {
	box-sizing: border-box;
	width: 460px;
}

.table__th_master {
	width: 322px;
}

.table__th_left {
	text-align: left;
	padding-left: 18px;
}

.tr__td_bold {
	font-weight: bold;
}

.tr__td {
	border: 1px solid #e9e9e9;
	padding: 0 0 0 16px;
}

.tr__td_1 {
	text-align: center;
	padding: 0;
}

.table__th:last-child {
	text-align: left;
	padding-left: 16px;
}

@media (max-width: 1024px) {	
	.table__th_service {
		width: 360px;
	}

	.table__th_master {
		width: 222px;
	}

	.table__th:last-child {
		width: 150px;
	}
}

@media (max-width: 990px) {
	.goods__row-popular-gds {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}

@media (max-width: 660px) {
	.table__th_service {
		width: 240px;
	}

	.table__th_master {
		width: 130px;
	}

	.table__th:last-child {
		width: 120px;
	}
}

@media (max-width: 600px) {
	.table__th_service {
		width: 200px;
	}
}

@media (max-width: 590px) {
	.table {
		font-size: 14px;
	}

	.table__th {
		font-size: 12px;
		padding-bottom: 10px;
		padding-left: 10px;
	}

	.table__th:last-child {
		padding-left: 10px;
	}
}

@media (max-width: 492px) {
	.tr__td {
		padding: 0 0 0 10px;
	}

	.tr__td_1 {
		text-align: center;
		padding: 0;
	}

	.table__th {
		line-height: 15px;
	}
}

/*-----------------------------------Form----------------------*/

.main__submitting-form {
	padding: 60px 0 70px 0;
}

.submitting-form__container {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	column-gap: 51px;
}

.goods__title-2_form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1/3;
	margin-bottom: 64px;
}

.form__header {
	display: grid;
	row-gap: 19px;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 25px;
}

.label {
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 17px;
}

.label__checkbox {
    display: inline-block;
    padding-top: 9px;
    padding-left: 38px;
    text-transform: none;
    font-size: 16px;
}

.input {
	width: 100%;
	height: 54px;
	border: 2px solid #e3e3e3;
	box-sizing: border-box;
	padding: 15px 15px;
}

.input:focus {
	border: 2px solid #e3e3e3;
	outline: none;
}

.form-oll {
	display: grid;
	gap: 6px;
}

.form__input-2 {
	display: grid;
	column-gap: 51px;
}

.form__tel {
	grid-column: 1/2;
}

.form__email {
	grid-column: 2/3;
}

.form__checkbox {
	position: relative;
	margin: 12px 0 0 17px;
}
.input__check {
	position: absolute;
    display: none;
}

.label__checkbox::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 2px solid #e3e3e3;
}

.label__checkbox::after {
	content: "";
	position: absolute;
	z-index: 2;
	display: block;
	opacity: 0;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: url("/img/jfwerjwe[.png") no-repeat center;
}

.input__check:checked + .label__checkbox::after {
	opacity: 1;
}

.form__footer {
	padding-top: 30px;
    display: grid;
    row-gap: 19px;
}

.input__comment {
	height: 120px;
	margin-bottom: 35px;
}

.input__button {
	display: block;
	text-transform: uppercase;
	border: none;
	color: #fff;
	background-color: #a38b70;
	width: 150px;
	height: 49px;
}

.form__form-img {
	margin-top: 36px;
}

.form-img {
	width: auto;
	height: 535px;
	position: relative;
}

.form-img::before {
	content: "Пишите письма!";
	position: absolute;
	display: inline-block;
	top: 27px;
	left: 22px;
	width: 295px;
	height: 184px;
	background: url("/img/fjrsdlgsd.png");
}

.form-img::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 181px;
    left: 51%;
    width: 37px;
    height: 38px;
    background: url(/img/img.position.cat/Layer\ 23.png);
}

.form-img::before {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 43.73px;
	line-height: 43.68px;
	font-weight: bold;
	color: #a38b70;
}


@media (max-width: 950px) {
	.goods__title-2_form {
		display: flex;
		justify-content: normal;
		flex-direction: column;
		grid-row: 1/2;
		gap: 20px;
		align-items: baseline;
	}
}

@media (max-width: 820px) {
	.submitting-form__container {
		display: grid;
		column-gap: 0px;
	}

	.form__form-img {
		justify-self: center;
		grid-row: 5/6;
	}
}

@media (max-width: 840px) {
	.label {
		padding-left: 0px;
	}
}

@media (max-width: 540px) {
	.form__input-2 {
		display: grid;
		column-gap: 21px;
	}
}

@media (max-width: 495px) {
	.form__input-2 {
		display: grid;
		row-gap: 19px;
		column-gap: 0;
	}

	.form__tel {
		grid-column: 1/3;
	}

	.form__email {
		grid-column: 1/3;
		grid-row: 2/3
	}
}
	

.footer {
	background-color: #363636;
	padding: 45px 0 50px 0;
}

.footer__top {
	display: flex; 
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #f1f1f1;    
	padding-bottom: 38px;
	margin-bottom: 49px;
}

.footer__midlle {
	border-bottom: 1px solid #f1f1f1;    
	padding-bottom: 59px;
	margin-bottom: 49px;
}

.footer__footer-nav {
	display: flex;
	align-items: baseline;
	gap: 11px;
}

.footer-nav__menu-list {
	display: grid;
	row-gap: 19px;
}

.title-item__element {
	font-size: 24px;
}

.menu-list__item {
	list-style: none;
}

.menu-list__link {
	color: #c3c3c3;
	text-decoration: none;
}

.menu-list__link:hover {
	color: #afaeae;
	border-bottom: 1px solid #afaeae;
}

.menu-list__link:active {
	color: #979797;
	border-bottom: 1px solid #979797;
}

.footer__footer-social {
	display: flex;
	gap: 39px;
}

.title-item__element {
	align-self: center;
}

.social-element {
	display: flex;
	align-items: center;
	gap: 9px;
}

.social-element__item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 62px;
	height: 62px;
	border: 1px solid #3d3d3d;
}

.social-element__item:hover {
	background-color: #5c5b5b;
	border: 1px solid #5a5a5a;
}

.social-element__item:active {
	background-color: #7c7c7c;
	border: 1px solid #6d6d6d;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright__text {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: start;
}

.copyright__link {	display: flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	color: white;
}

@media (max-width: 760px) {
	.footer__bottom {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}


@media (max-width: 580px) {
	.footer__footer-nav {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: 30px;
	}

	.footer__footer-social {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}




@media (max-width: 640px) {
	.main__theory {
		background-color: #f2f2f2;
		padding: 55px 0 65px 0; 
	}

	.block-position__theory {
		margin-bottom: 47px;
	}
	
	.block-position__title {
		display: flex;
		flex-direction: column;
		gap: 22px;
		align-items: baseline;
		justify-content: normal;
	}

	.main__review {
		padding: 55px 0 65px 0;
	}
}

@media (max-width: 460px) {
	.text-block__title-cite {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		gap: 10px;
	}

	.title-cite__cite {
		color: #aaaaaa;
		align-self: baseline;
	}
} 

